<!DOCTYPE html>
<html>
  <head>
    <title>RailsHotwireTailwindBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100 h-screen">
    <div class="flex h-full items-center justify-center">
      <%= yield %>
    </div>
  </body>
</html>
